* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
}

.bowi1 {
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 280px;
}

.app_icon {
  position: relative;
  width: 270px;
  height: 250px;
  padding: 50px;
  background-color: rgb(245, 245, 245);
  color: rgb(245, 245, 245);
}

.Telesaleuz_tekst {
  font-size: 50px;
  display: flex;
}

.kongiroqcha {
  width: 180px;
  height: 180px;
  margin-left: 970px;
  margin-top: 115px;
  text-align: end;
}

.kongiroqcha i {
  font-size: 70px;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f8f8f8;
}

.search-bar {
  width: 80%;
  margin-left: 190px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search-bar input {
  justify-self: center;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 12px 0 0 12px;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 12px 12px 0;
  background-color: #ffcc66;
  font-size: 16px;
  cursor: pointer;
}
.Kategoriyalar {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}
.categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category {
  flex: 1;
  padding: 20px;
  margin: 5px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.category i, .category span {
  font-size: 24px;
  color: #555;
}

 .category:hover {
  background-color: #ffcc66;
}

.category.active i, .category.active span, .category:hover i, .category:hover span {
  color: #333;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.product {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  width: calc(20% - 40px); /* 5 ustunli bo'lishi uchun */
  background-color: rgb(202, 148, 112);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product h3 {
  margin: 10px 0 5px;
}

.price {
  font-weight: bold;
  color: #333;
}

.old-price {
  text-decoration: line-through;
  color: #777;
}

.location, .time {
  font-size: 12px;
  color: #777;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f8f8f8;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav i {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  gap: 10px;
  justify-content: space-around;
  padding: 20px 170px;
}

